# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/

# MacOS
.DS_Store

# VSCode
.vscode/

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# Environment variables
.env

# Data files
data/
outputs/
*.parquet

# Temporary files
*.tmp
*.swp

*.pem